.home-container .topics{
    margin: 75px 0;
}

.home-container .topics .col{
    max-width: 250px;
    margin: 0 10px;
}

.home-container .topics img {
    width: 50px;
    height: 50px;
}

.home-container .employees-container{
    margin: 20px 45px;
}