.home-navbar{
    position: fixed;
    z-index: 1000;
    width: 100%;

    background-color: rgba(0, 0, 0, 0.1)!important;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.home-navbar .navbar-brand {
    color: white!important;
    font-size: 32px;
}

.home-navbar .navbar-brand img {
    vertical-align: middle;
}