.home-nav .nav-link{
    color: white!important;
    border-style: solid;
    border-color: transparent;
}

.home-nav .nav-link.active {
    color: rgba(66, 66, 66, 0.9)!important;
    border-color: #09d3ac;
    background-color: transparent;
}